@import '../../../../scss/shared.scss';

::ng-deep .chart-dialog {
  min-width: 100%;
  height: auto;
  width: auto;
  max-width: none !important;

  @include respond-to(medium) {
    min-width: 60%;
  }
}
