@import '../../../../scss/shared.scss';


.projects {
  width: 100%;
  flex-grow: 1;
  display: flex;
  margin-top: 2%;
  flex-direction: column;

  @include respond-to(medium) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.open-chart-dialog-button {
  font-size: 1.5rem;
  position: fixed;
  right: 10px;
  top: 10px;
  color: white;
  background-color: #6264A7;
  z-index: 1;
}

.empty-state {
  width: 100%;
  height: auto;
  color: white;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding-left: 25vw;

  @include respond-to(medium) {
    padding-left: 25vw;
  }

  @include respond-to(large) {
    padding-left: 20vw;
  }

  & p {
    color: #C6C5C5;
  }

  & button {
    font-size: 1.3rem;
    border-radius: 8px;
    background-color: #6264A7;
    color: white;
  }
}

.project {
  align-self: center;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 90%;
  border-radius: 12px;
  margin-top: 5%;
  margin-bottom: 5%;
  color: white;

  @include respond-to(medium) {
    width: calc(calc(100% / 3) - 4%);
    height: auto;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
  }

  @include respond-to(large) {
    width: calc(calc(100% / 4) - 4%);
  }
}


.add-new-project-button {
  @include reset-button;
  height: 50px;
  width: 50px;
  margin-top: 2%;
  margin-left: auto;
  display: block;
  margin-right: auto;
  font-size: 1.5rem;
  border-radius: 50%;
  color: white;
  background-color: #6264A7;
}

.project__top {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;

  & a {
    font-size: 1.3rem;
    margin-top: auto;
    margin-bottom: auto;
    font-weight: bold;
  }
}

.project__bottom {
  text-align: center;

  & i {
    font-size: 5rem;
    opacity: 0.7;
  }

  & a {
    text-decoration: none;
    display: block;
    color: white;
  }


  & p {
    font-size: 1.3rem;
    padding-left: 4px;
    padding-right: 4px;
    word-break: break-all;
  }
}

.like-or-dislike-project-button {
  color: #d0cfe4;
}
