@import url('https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@700&display=swap');
@import '../../../scss/shared.scss';


.side-menu-toggle-button {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%);
  transition: 0.15s linear;
  color: white;
  display: block;

  @include respond-to(medium) {
    display: none;
  }

  & mat-icon {
    font-size: 2rem;
  }

  &_closed {
    position: fixed;
    left: 0;
    transform: translateX(0);
  }
}

.show-pert-calculator-dialog-button {
  margin-top: .5rem;
  margin-block: 1rem;

  &:hover {
    opacity: .8;
  }
}

.side-menu {
  transition: 0.1s width linear;
  position: fixed;
  left: 0;
  top: 0;
  width: 87vw;
  height: 100%;
  background-color: #36393F;
  z-index: 100;

  @include respond-to(medium) {
    width: 25vw;
  }

  @include respond-to(large) {
    width: 20vw;
  }

  p {
    text-align: center;
    font-size: 1.3rem;
    color: white;
  }
}

.side-menu_closed {
  width: 0;

  & .side-menu-content {
    display: none;
  }
}

.side-menu-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.side-menu-content__home-link {
  @include respond-to(extra-large) {
    display: flex;
    justify-content: center;
  }

  & p {
    font-size: 1.6rem;
    font-family: 'Cormorant Unicase', serif;
    color: #6264A7;
  }

  & img {
    height: 2.2rem;
    width: 2.2rem;
    margin-right: 0.5rem;
  }
}

.side-menu-content__favorite-projects {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: auto;
  overflow: auto;
}

.side-menu-content__settings {
  display: flex;
  height: auto;
  justify-content: space-between;
  background-color: #464775;

  & a, button {
    padding: 5px;
    font-size: 1.3rem;
    text-decoration: none;
    align-self: center;
    color: white;
  }

  & button {
    border: none;
    background: none;
  }
}
