<button (click)="openDialog()" class="add-new-project-button"><i class="fas fa-plus"></i></button>

<app-generic-list [list]="projects">
  <ng-container content>
    <div class="projects">
      <div class="project" *ngFor="let project of projects">

        <div class="project__top">
          <button mat-icon-button><i class="fas fa-ellipsis-h"></i></button>
          <a class="text-white text-decoration-none" href="project/{{project.id}}">{{project.time}}</a>
          <button class="like-or-dislike-project-button" mat-icon-button>
            <mat-icon>favorite</mat-icon>
          </button>
        </div>

        <div class="project__mid">
          <a href="project/{{project.id}}">
            <i class="fas fa-folder"></i>
            <p> {{project.title}}</p>
          </a>
        </div>
      </div>
    </div>
  </ng-container>
</app-generic-list>
