<button (click)="openDialog()" class="add-new-project-button"><i class="fas fa-plus"></i></button>

<app-search-item-by-title *ngIf="oryginalProjects.length !== 0"
                    (onKeyUp)="filterProjects($event)"
                    [options]="getTitleArray()">
</app-search-item-by-title>

<app-generic-list [list]="projects.reverse()">
  <ng-container content>
    <div class="projects">
      <div class="project" *ngFor="let project of projects; let index = index">

        <div class="project__top">
          <button mat-icon-button><i class="fas fa-ellipsis-h"></i></button>
          <a class="text-white text-decoration-none" href="project/{{project.id}}">{{project.time}}</a>
          <button class="like-or-dislike-project-button"
                  mat-icon-button
                  (mouseenter)="setHoveredDivId(index)"
                  (mouseleave)="setHoveredDivId()">

            <mat-icon *ngIf="project.isFavorite || hoveredDivId === index">favorite</mat-icon>
            <mat-icon *ngIf="!project.isFavorite && hoveredDivId !== index">favorite_border</mat-icon>
          </button>
        </div>

        <div class="project__bottom">
          <a href="project/{{project.id}}">
            <i class="fas fa-folder"></i>
            <p>{{project.title}}</p>
          </a>
        </div>
      </div>
    </div>
  </ng-container>
</app-generic-list>
