<button mat-flat-button color="primary" class="add-new-project-button">Add new project <i class="fas fa-plus"></i></button>

<app-generic-list [list]="projects">
  <ng-container content>
    <div class="projects">
      <div class="project" *ngFor="let project of projects">

        <div class="project__top">
          <button mat-icon-button><i class="fas fa-ellipsis-h"></i></button>
          <a class="text-white text-decoration-none" href="project/{{project.id}}"><p>{{project.time}}</p></a>
          <button color="accent" mat-icon-button>
            <mat-icon>favorite</mat-icon>
          </button>
        </div>

        <div class="project__mid">
          <a class="d-block text-white text-decoration-none" href="project/{{project.id}}">
            <i class="fas fa-folder"></i>
            <p> {{project.title}}</p>
          </a>
        </div>
      </div>
    </div>
  </ng-container>
</app-generic-list>
