mat-form-field {
  padding-bottom: 1rem;
}

.violet {
  color: #6264A7 !important;
}

.blue {
  color: #628AA8 !important;
}

.purple {
  color: #A86193 !important;
}

.red {
  color: #A85C59 !important;
}
