<div [ngClass]="(!isActivated) ? 'side-menu_closed' : ''" class="side-menu">

  <button mat-icon-button
          class="side-menu-toggle-button"
          (click)="handleToggler()"
          [ngClass]="(!isActivated) ? 'side-menu-toggle-button_closed' : ''">

    <mat-icon *ngIf="!isActivated">menu</mat-icon>
    <mat-icon *ngIf="isActivated">chevron_left</mat-icon>
  </button>

  <div class="side-menu-content">

    <div class="favorites-projects">
      <p>Favorite</p>

      <div class="projects">
        <table mat-table
               *ngIf="favoriteProjectItems.length > 0"
               [dataSource]="favoriteProjectItems"
               cdkDropList
               [cdkDropListData]="favoriteProjectItems"
               (cdkDropListDropped)="dropped($event)">

          <ng-container matColumnDef="title">
            <td mat-cell *matCellDef="let element">
              <p>{{element.title}}</p>
            </td>
          </ng-container>

          <ng-container matColumnDef="time">
            <td mat-cell *matCellDef="let element">
              <p>{{element.time}}</p>
            </td>
          </ng-container>

          <ng-container matColumnDef="dislike-project-button">
            <td mat-cell *matCellDef="let element; let index = index">
              <button mat-icon-button
                      (mouseenter)="handleDislikeProjectButtonMouseEnter(index)"
                      (mouseleave)="handleDislikeProjectButtonMouseLeave()">
                <mat-icon color="accent" *ngIf="hoveredDivId !== index">favorite</mat-icon>
                <mat-icon color="accent" *ngIf="hoveredDivId === index">favorite_border</mat-icon>
              </button>

            </td>
          </ng-container>

          <tr mat-row *matRowDef="let row; columns: columnsToDisplay"
              cdkDrag [cdkDragData]="row">
          </tr>

        </table>
      </div>

    </div>

    <div class="settings">

    </div>
  </div>
</div>


