@import '../../scss/shared.scss';


.side-menu-toggle-button {
  transition: 0.15s linear;
  position: absolute;
  top: 0;
  right: 0;
  color: black;
  display: block;
  transform: translateX(100%);
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;


  @include respond-to(medium) {
    display: none;
  }

  &_closed {
    position: fixed;
    left: 0;
    transform: translateX(0);
  }
}


.side-menu {
  transition: 0.1s width linear;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #2D2C2C;
  width: 80vw;
  height: 100vh;
  z-index: 100;

  @include respond-to(medium) {
    width: 25vw;
  }

  @include respond-to(large) {
    width: 20vw;
  }

  p {
    color: white;
    text-align: center;
    font-size: 1.3rem;
  }
}

.side-menu_closed {
  width: 0;

  & .side-menu-content {
    display: none;
  }
}

.side-menu-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.favorites-projects {
    margin-top: 15%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  p {
    color: #FF4081;
  }
}

.settings {
  align-content: center;
  display: flex;
  justify-content: space-between;
  background-color: #464775;

  & a {
    padding: 5px;
    font-size: 1.3rem;
    color: white;
  }
}
