<div [ngClass]="(!menuIsActivated) ? 'side-menu_closed' : ''" class="side-menu">

    <button mat-icon-button
            class="side-menu-toggle-button"
            (click)="handleToggler()"
            [ngClass]="(!menuIsActivated) ? 'side-menu-toggle-button_closed' : ''">

      <mat-icon *ngIf="!menuIsActivated">menu</mat-icon>
      <mat-icon *ngIf="menuIsActivated">chevron_left</mat-icon>
    </button>

  <div class="side-menu-content">

    <div class="favorites-projects">
      <p>Favorites</p>

      <app-favorite-projects-list></app-favorite-projects-list>
    </div>

    <div class="settings">
      <a class="settings__logout" [routerLink]='["/authentication/logout"]' [state]='{ local: true }' title="Logout">Logout</a>
      <a class="settings__manage" [routerLink]='["/authentication/profile"]' title="Manage"><i class="fas fa-users-cog"></i></a>
    </div>
  </div>
</div>


