@import '../../../scss/shared.scss';

mat-form-field, mat-checkbox {
  padding-bottom: 1rem;
  display: block;
}

::ng-deep .mat-checkbox-checked .mat-checkbox-background {
  background-color: #6264A7 !important;
}

p {
  text-align: center;
  color: #FFE4E5;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

::ng-deep .login-dialog {
  position: relative !important;
}

::ng-deep .login-dialog .mat-dialog-container {
  background-color: #36393F;
  min-width: 75vw;

  @include respond-to(medium) {
    min-width: 35vw;
  }
}

.hide-dialog-button {
  font-size: 1.2rem;
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 50%;
  transform: translate(50%, -100%);
  color: white;
  background-color: #6264A7;
}

.sign-in-button {
  display: block;
  width: 100%;
  background-color: #6264A7;
  color: white;
}


.open-register-dialog-button {
  margin-top: 1rem;
  text-align: center;

  & p {
    color: #FFE4E5;
    font-size: 1rem;
    margin-bottom: 0;
  }

  & button {
    font-weight: bold;
    font-size: 1rem;
    border: none;
    background: none;
    color: #6264A7;
  }
}


/* input color class */
::ng-deep .login-dialog input.mat-input-element {
  color: white;
}

/* Change label color on focused */
::ng-deep .login-dialog .mat-form-field.mat-focused .mat-form-field-label {
  color: #6264A7;
}

/* underline border color on focused */
::ng-deep .login-dialog .mat-focused .mat-form-field-underline .mat-form-field-ripple {
  background-color: #6264A7;
}

::ng-deep .login-dialog .mat-form-field-label {
  color: white;
}

/* underline border color on focused */
::ng-deep .login-dialog .mat-form-field-underline {
  background-color: white !important;
}
