<div mat-dialog-content>

  <div class="mb-3" *ngIf="error">
    <p class="text-danger text-break">{{ error }}</p>
  </div>

  <button mat-icon-button
          (click)="closeDialog()"
          class="hide-dialog-button text-center mt-3"
          aria-label="hide">

    <i class="fas fa-times"></i>
  </button>

  <p>Sign in</p>

  <form (ngSubmit)="onSubmit(form.value, rememberMe.checked)" [formGroup]="form">
    <mat-form-field appearance="legacy">
      <mat-label>Email</mat-label>
      <input formControlName="email" matInput />
      <mat-error *ngIf="form.invalid">The email field is required</mat-error>
    </mat-form-field>

    <mat-form-field appearance="legacy">
      <mat-label>Password</mat-label>
      <input type="password" formControlName="password" matInput />
      <mat-error *ngIf="form.invalid">The password field is required</mat-error>
    </mat-form-field>

    <mat-checkbox class="text-white"
                  checked="true"
                  #rememberMe>
      Remember me
    </mat-checkbox>

    <button mat-flat-button class="sign-in-button" [disabled]="form.invalid" aria-label="sign in" type="submit">Sign in</button>
  </form>

  <cool-google-button color="light" (click)="loginWithGoogle()">
    Login with Google
  </cool-google-button>

  <div class="open-register-dialog-button">
    <p>Need an account? </p><button (click)="openRegisterDialog()">Sign up</button>
  </div>
</div>

