<div mat-dialog-content>
  <p>Edit stopwatch</p>

  <form (ngSubmit)="onSubmit(form.value)" [formGroup]="form">
    <mat-form-field appearance="outline">
      <mat-label>Title</mat-label>
      <input formControlName="title" matInput required />
      <mat-error *ngIf="form.invalid">{{getErrorMessageFieldTitle()}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Time</mat-label>
      <input formControlName="time" matInput required />
      <mat-error *ngIf="form.invalid">{{getErrorMessageFieldTime()}}</mat-error>
    </mat-form-field>

    <app-theme-selector [theme]="stopwatchItem.theme" (onSaveChanges)="changeSelectedTheme($event)"></app-theme-selector>

    <div>
      <button mat-stroked-button (click)="closeDialog()" class="mr-1 mb-1" aria-label="cancel" type="button">Cancel</button>
      <button mat-flat-button color="primary" [disabled]="form.invalid" aria-label="save" type="submit">Save changes</button>
    </div>

  </form>
</div>

