<div mat-dialog-content>
  <p>Create new project</p>

  <form (ngSubmit)="onSubmit(form.value)" [formGroup]="form">
    <mat-form-field appearance="outline">
      <mat-label>Title</mat-label>
      <input formControlName="title" matInput  />
      <mat-error *ngIf="form.invalid">{{getErrorMessageFieldTitle()}}</mat-error>
    </mat-form-field>

    <app-theme-selector (saveChanges)="changeSelectedTheme($event)"></app-theme-selector>

    <div>
      <button mat-stroked-button (click)="closeDialog()" class="mr-1 mb-1" aria-label="cancel" type="button">Cancel</button>
      <button mat-flat-button color="primary" [disabled]="form.invalid" aria-label="create" type="submit">Create project</button>
    </div>
  </form>
</div>

