<p class="text-break"><a href="https://www.linkedin.com/pulse/what-pert-how-can-we-use-dave-fourie-pmp-prince2-/" target="_blank">PERT</a> is a three point activity estimating technique that considers estimation uncertainty and risk by using three estimates to define an approximate probability for an activity's cost or duration</p>

<div class="pert-calculator" mat-dialog-content>
  <button mat-icon-button
          (click)="hideDialog()"
          class="hide-dialog-button text-center mt-3"
          aria-label="hide">

    <i class="fas fa-times"></i>
  </button>

  <div class="form-container">
    <form [formGroup]="form">
      <mat-form-field appearance="outline">
        <mat-label>Optimistic</mat-label>
        <input formControlName="optimistic" matInput type="number" />
        <mat-error>{{getErrorMessage('optimistic')}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Realistic</mat-label>
        <input formControlName="realistic" matInput type="number" />
        <mat-error>{{getErrorMessage('realistic')}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Pessimistically</mat-label>
        <input formControlName="pessimistically" matInput type="number" />
        <mat-error>{{getErrorMessage('pessimistically')}}</mat-error>
      </mat-form-field>

      <button mat-flat-button
              color="primary"
              class="mb-5 mb-md-0"
              [disabled]="form.invalid"
              (click)="calculate()"
              aria-label="calculate">

        <i class="fas fa-calculator"></i> Calculate
      </button>
    </form>
  </div>

  <div class="table-container">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="chance">
        <th mat-header-cell *matHeaderCellDef> Chance </th>
        <td mat-cell *matCellDef="let element"> {{element.chance + "%"}} </td>
      </ng-container>

      <ng-container matColumnDef="time">
        <th mat-header-cell *matHeaderCellDef> Time </th>
        <td mat-cell *matCellDef="let element"> {{element.time.toFixed(2)}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
