<div mat-dialog-content>

  <div class="mb-3" *ngIf="errors">
    <div *ngFor="let error of errors">
      <p class="text-danger text-break">{{error}}</p>
    </div>
  </div>

  <button mat-icon-button
          (click)="closeDialog()"
          class="hide-dialog-button text-center mt-3"
          aria-label="hide">

    <i class="fas fa-times"></i>
  </button>

  <p>Get Started for Free</p>

  <form (ngSubmit)="onSubmit(form.value)" [formGroup]="form">
    <mat-form-field appearance="legacy">
      <mat-label>Email</mat-label>
      <input formControlName="email" matInput />
      <mat-error *ngIf="form.invalid">The email field is required</mat-error>
    </mat-form-field>

    <mat-form-field appearance="legacy">
      <mat-label>Password</mat-label>
      <input type="password" formControlName="password" matInput />
      <mat-error *ngIf="form.invalid">{{getErrorMessageFieldPassword('password')}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="legacy">
      <mat-label>Confirm password</mat-label>
      <input type="password" formControlName="confirmPassword" matInput />
      <mat-error *ngIf="form.invalid">{{getErrorMessageFieldPassword('confirmPassword')}}</mat-error>
    </mat-form-field>

    <button mat-flat-button color="primary" class="create-account-button" [disabled]="form.invalid" aria-label="create" type="submit">Create account</button>
  </form>

  <button (click)="loginWithGoogle()" mat-raised-button class="google-login-btn">
    Google
  </button>

  <div class="open-login-dialog-button">
    <p>Already have an account? </p><button (click)="openLoginDialog()">Sign in</button>
  </div>
</div>

