.forgot-password {
  margin-top: 1rem;
  text-align: center;

  & p {
    font-size: 1rem;
    margin-bottom: 0;
    color: #FFE4E5;
  }

  & button {
    font-size: 1rem;
    font-weight: bold;
    border: none;
    background: none;
    color: #6264A7;
  }
}
