.example-form {
  margin-top: 1rem;
  text-align: center;
  font-size: 1.2rem;


  & * {
    color: #6264A7;
  }

  & i {
    font-size: 1rem;
  }

  & input {
    color: white;
  }
}

.example-full-width {
  width: 60%;
}

::ng-deep .mat-form-field-underline {
  background-color: #6264A7 !important;
}
