<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Search <i class="fas fa-search"></i></mat-label>
    <input type="text"
           (keyup)="keyUp()"
           #searcingTitle
           aria-label="Search"
           matInput
           [formControl]="myControl"
           [matAutocomplete]="auto">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
