<app-generic-list [list]="favoriteProjects">
  <ng-container content>
    <div class="favorite-projects">
      <table mat-table
             *ngIf="favoriteProjects?.length > 0"
             [dataSource]="favoriteProjects"
             cdkDropList
             (touchmove)="onTouchMove($event)"
             [cdkDropListData]="favoriteProjects"
             (cdkDropListDropped)="updateOrderIndex($event)">

        <ng-container matColumnDef="column">
          <div class="favorite-project">
            <td mat-cell *matCellDef="let project; let index = index">

              <a [ngStyle]="{'color': project.theme}"  [routerLink]="'project/' + project.id">
                {{project.title | shorten}}
              </a>

              <button mat-icon-button class="dislike-project-button"
                      (click)="handleLikeOrDislikeProjectButton(project.id)"
                      (mouseenter)="setHoveredDivId(index)"
                      (mouseleave)="setHoveredDivId()"
                      aria-label="dislike">
                <mat-icon *ngIf="hoveredDivId !== index">favorite</mat-icon>
                <mat-icon *ngIf="hoveredDivId === index">favorite_border</mat-icon>
              </button>

            </td>
          </div>
        </ng-container>

        <tr mat-row *matRowDef="let row; columns: columnsToDisplay"
            cdkDrag [cdkDragData]="row">
        </tr>

      </table>
    </div>

  </ng-container>
</app-generic-list>
