<h1 [ngStyle]="{'color': project.theme}" class="text-center mt-3">{{project.title}} <span class="text-white">{{project.time}}</span></h1>

<button (click)="openCreateStopwatchDialog()" class="add-new-stopwatch-button"><i class="fas fa-plus"></i></button>

<app-search-item-by-title *ngIf="paginatedListOfStopwatchItemDto?.items.length > 0"
                          (onKeyUp)="filterStopwatches($event)"
                          [options]="titlesArray">
</app-search-item-by-title>

<button class="show-diagram-button"
        mat-icon-button
        (click)="openChartDialog()"
        matTooltip="Show chart">

  <i class="fas fa-chart-pie"></i>
</button>

<app-generic-list [list]="stopwatches">
  <ng-container content>
    <div class="stopwatches">
      <div class="stopwatch"
           *ngFor="let stopwatch of stopwatches"
           [ngStyle]="{'background-color': stopwatch?.theme}">

        <div class="stopwatch__top">
          <div>
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <i class="fas fa-ellipsis-h"></i>
            </button>

            <mat-menu #menu="matMenu">
              <button mat-menu-item
                      (click)="openEditStopwatchDialog(stopwatch)">
                <mat-icon>done</mat-icon>
                <span>Edit</span>
              </button>
              <button mat-menu-item
                      (click)="openConfirmDeleteDialog(stopwatch)">
                <mat-icon color="warn">delete</mat-icon>
                <span>Delete</span>
              </button>
            </mat-menu>
          </div>

          <p>{{stopwatch.time}}</p>

          <button [disabled]="!stopwatch.splittedTimes.length > 0"
                  mat-icon-button
                  matBadge="{{stopwatch.splittedTimes.length}}"
                  class="show-splitted-times-button"
                  matTooltip="Show splitted times"
                  (click)="openShowSplittedTimesDialog(stopwatch)">

            <i class="fas fa-columns"></i>
          </button>
        </div>

        <div class="stopwatch__mid">
          <i class="fas fa-clock"></i>
          <p>{{stopwatch.title}}</p>
        </div>

        <div class="stopwatch__bottom">
          <button mat-icon-button
                  matTooltip="Reset timer"
                  (click)="restartTimer(stopwatch)">

            <i class="fas fa-redo"></i>
          </button>

          <button mat-icon-button
                  matTooltip="Split timer"
                  (click)="splitTimer(stopwatch)">

            <i class="fas fa-stopwatch"></i>
          </button>

          <button *ngIf="stopwatch.isStarted"
                  mat-icon-button
                  matTooltip="Pause timer"
                  (click)="pauseTimer(stopwatch)">

            <i class="fas fa-pause"></i>
          </button>

          <button *ngIf="!stopwatch.isStarted"
                  mat-icon-button
                  matTooltip="Start timer"
                  (click)="startTimer(stopwatch)">

            <i class="fas fa-play"></i>
          </button>


        </div>
      </div>
    </div>

    <app-paginator [totalCount]="paginatedListOfStopwatchItemDto?.totalCount"
                   [pageSize]="paginatedListOfStopwatchItemDto?.pageSize"
                   (onUpdatePagination)="updatePagination($event)">
    </app-paginator>
  </ng-container>
</app-generic-list>
