<h1 class="text-center text-white mt-3">{{project.title}}</h1>

<button (click)="openDialogToCreateNewStopwatch()" class="add-new-stopwatch-button"><i class="fas fa-plus"></i></button>

<app-search-item-by-title *ngIf="paginatedListOfStopwatchItemDto?.items.length > 0"
                          (onKeyUp)="filterStopwatches($event)"
                          [options]="titlesArray">
</app-search-item-by-title>

<app-generic-list [list]="stopwatches">
  <ng-container content>
    <div class="stopwatches">
      <div class="stopwatch" *ngFor="let stopwatch of stopwatches">

        <div class="stopwatch__top">
          <div class="top__stopwatch-actions">
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <i class="fas fa-ellipsis-h"></i>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item
                      (click)="openDialogToEditStopwatch(stopwatch)">
                <mat-icon>done</mat-icon>
                <span>Edit</span>
              </button>
              <button mat-menu-item
                      (click)="deleteStopwatch(stopwatch.id)">
                <mat-icon color="warn">delete</mat-icon>
                <span>Delete</span>
              </button>
            </mat-menu>
          </div>

          <p>{{stopwatch.time}}</p>
        </div>

        <div class="stopwatch__mid">
          <i class="fas fa-clock"></i>
          <p>{{stopwatch.title}}</p>
        </div>

        <div class="stopwatch__bottom">
          <button mat-icon-button
                  (click)="restartTimer(stopwatch)">
            <i class="fas fa-redo"></i>
          </button>

          <button *ngIf="stopwatch.isStarted"
                  mat-icon-button
                  (click)="pauseTimer(stopwatch)">
            <i class="fas fa-pause"></i>
          </button>

          <button *ngIf="!stopwatch.isStarted"
                  mat-button
                  (click)="startTimer(stopwatch)">
            <i class="fas fa-play"></i>
          </button>
        </div>
      </div>
    </div>

    <app-paginator [totalCount]="paginatedListOfStopwatchItemDto?.totalCount"
                   [pageSize]="paginatedListOfStopwatchItemDto?.pageSize"
                   (onUpdatePagination)="updatePagination($event)">
    </app-paginator>
  </ng-container>
</app-generic-list>
