@import '../../scss/shared.scss';

* {
  font-family: 'Merriweather', serif;
}

.navbar {
  font-size: 1.5rem;
  color: white;
  background-color: #282728;


  @include respond-to(large) {
    padding-left: 10%;
    padding-right: 10%;
  }
}

.sign-in-button {
  color: white;
}

.sign-up-button {
  background-color: #00C896;
  color: black;
}

.navbar-brand {
  color: white;


  &:hover {
    color: white;
  }
}

.content {
  min-height: 100%;
  min-width: 100%;
  overflow: hidden;
  background-color: #282728;
}

.home {
  width: auto;
  height: auto;

  @include respond-to(large) {
    min-height: 100vh;
    min-width: 100vw;
  }
}

.home__start {
  width: 100%;
  margin-top: 30%;
  height: auto;
  margin-bottom: 2rem;
  color: white;

  @include respond-to(large) {
    width: 33%;
    margin-top: 0;
    margin-bottom: 0;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 10%;
    z-index: 1;
  }

  & h1 {
    font-size: 2.6rem;


    @include respond-to(large) {
      font-size: 3rem;
    }
  }

  & p {
    font-size: 1.3rem;
    color: hsla(0,0%,100%,.7);

    @include respond-to(large) {
      font-size: 1.5rem;
    }
  }

  & button {
    font-size: 1.2rem;
    background-color: #00C896;
    color: black;
  }
}

.home__animation {

  @include respond-to(large) {
    width: 65%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  & img {
    height: 300px;
    width: auto;
    opacity: .9;
    display: block;

    @include respond-to(large) {
      width: 100%;
      height: auto;
    }
  }
}

.describtion {
  margin-top: 6rem;

  @include respond-to(large) {
    margin-top: 2rem;
  }

  & h1 {
    font-size: 2.6rem;
    text-align: center;
    color: white;
  }

  & p {
    font-size: 1.3rem;
    color: hsla(0,0%,100%,.7);
  }
}

.landscape {
  display: none;

  @media (orientation: landscape) {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.portrait {
  display: none;

  @media (orientation: portrait) {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.describtion__color-patterns, .describtion__diagram {
  margin-top: 5rem;
  margin-bottom: 5rem;

  @include respond-to(medium) {
    display: flex;
  }

  & p {

    @include respond-to(medium) {
      align-self: center;
    }
  }

  & img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.describtion__color-patterns p {
  @include respond-to(medium) {
    order: 1;
    margin-left: 1rem;
  }
}

.describtion__color-patterns img {
  @include respond-to(medium) {
    width: 65%;
  }

  @include respond-to(large) {
    width: 50%;
  }
}

.describtion__diagram p {
  @include respond-to(medium) {
    margin-right: 1rem;
  }
}

.try-for-free-button {
  font-size: 1.4rem;
  padding: 1rem 30px;
  margin-top: 5rem;
  margin-bottom: 5rem;
  border-radius: 60px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #00C896;
  color: black;
}

footer {
  width: 100%;
  height: auto;
  min-height: 100px;
  background-color: #36393F;
}

.footer__copyright {
  text-align: center;
  margin-top: .5rem;
  margin-bottom: .5rem;
  font-family: 'Encode Sans SC', sans-serif;
  color: hsla(0,0%,100%,.7);
}


.social-medias {
  margin-bottom: 0;
  text-align: center;

  & ul {
    list-style-type: none;
  }

  & li {
    display: inline;
  }

  & a {
    margin-right: 1rem;
    font-size: 1.8rem;
    color: hsla(0,0%,100%,.7);
  }
}
