<nav class="navbar">
  <a href="/" mat-button class="navbar-brand m-0 p-0">
    <img src="../../../assets/img/logo.svg" width="32" height="32" alt="stopwatch" /> MultiStopwatch
  </a>

  <div>
    <button mat-button (click)="openLoginDialog()" class="sign-in-button" aria-label="sign in">Sign In</button>
    <button mat-raised-button (click)="openRegisterDialog()" class="sign-up-button" aria-label="sign up">Sign Up</button>
  </div>
</nav>

<main class="content">
  <div class="home container">
    <div class="home__start">
      <h1>MultiStopwatch</h1>
      <p>Application for the organization of work. In simply way you can measure time of every project and every task.</p>
      <button mat-raised-button (click)="openRegisterDialog()" aria-label="try for free">Try for free</button>
    </div>

    <div class="home__animation">
      <img src="../../../assets/work-animation.gif" alt="work animation" loading="lazy" />
    </div>
  </div>

  <div class="container describtion">
    <h1>Why should I use MultiStopwatch?</h1>
    <br />
    <div data-aos="fade-up" data-aos-once="true" data-aos-duration="700" class="describtion__pert-calculator">
      <p>
        This application helps to calculate the duration of the project. It might be helpful in optimizing and predicting project time. Thanks to built-in PERT-Calculator you can also estimate project implementation time. It will allow you to build good habits and manage your time.
      </p>

      <img class="img-fluid landscape" src="../../../assets/img/pert-calculator_landscape.webp" alt="pert calculator" loading="lazy" />
      <img class="img-fluid portrait" src="../../../assets/img/pert-calculator_portrait.webp" alt="pert calculator" loading="lazy" />
    </div>

    <div data-aos="fade-left" data-aos-once="true" data-aos-duration="700" class="describtion__diagram">
      <p>In each project and stopwatch you will find a diagram that shows the time of the tasks performed as a percentage.</p>
      <img class="img-fluid" src="../../../assets/img/diagram.webp" alt="diagram" loading="lazy" />
    </div>

    <div data-aos="fade-right" data-aos-once="true" data-aos-duration="700" class="describtion__color-patterns">
      <p>You can create any number of project with tasks in a pleasant color palette.</p>
      <img class="img-fluid" src="../../../assets/img/collor-patterns.webp" alt="collor patterns" loading="lazy" />
    </div>
  </div>

  <button mat-button class="try-for-free-button" (click)="openRegisterDialog()" aria-label="try for free">Try for free</button>
</main>

<footer>
  <div class="container pt-4 pb-4">
    <div class="footer__copyright">
      <a href="/" class="mr-1"><img src="../../../assets/img/logo.svg" width="32" height="32" alt="stopwatch" /></a>
      &copy; 2021 Krystian Skwierawski
    </div>

    <div>
      <ul class="social-medias">
        <li><a href="https://github.com/KrystianSkwierawski" target="_blank" rel="noopener"><i class="fab fa-github"></i></a></li>
        <li><a href="https://www.linkedin.com/in/krystian-skwierawski/" target="_blank" rel="noopener"><i class="fab fa-linkedin-in"></i></a></li>
        <li><a href="mailto:krystian.ernest.skwierawski@gmail.com" target="_blank" rel="noopener"><i class="fas fa-envelope"></i></a></li>
      </ul>
    </div>
  </div>
</footer>

