<div mat-dialog-content>

  <app-error-message *ngIf="error" [error]="error"></app-error-message>

  <p>Are you sure to delete account?</p>

  <div class="text-center">

    <mat-form-field appearance="legacy">
      <mat-label>Password</mat-label>
      <input type="password" #passwordInput matInput />
    </mat-form-field>

    <button mat-stroked-button mat-dialog-close class="mr-1 mb-1" aria-label="no">No</button>
    <button [disabled]="!passwordInput.value" mat-flat-button color="warn" (click)="onDeleteAccount(passwordInput.value)" aria-label="yes">Yes</button>
  </div>
</div>

